<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<base href="<%= base() %>">
		<%- header %>
	</head>
	<body>
		<div id="page-wrap">
			<header id="header-main">
				<h2>Quiz: el juego de las preguntas</h2>
			</header>
			<nav role="navigation">
				<ul class="menu-left">
					<li><a href="/">Inicio</a></li>
					<li><a href="/quizes">Preguntas</a></li>
					<li><a href="/author">Autor</a></li>
					<li><a href="/quizes/statistics">Estadísticas</a></li>
				</ul>
				<ul class="menu-right">
					<% if(!_auth){ %>
						<li><a href="/login">LogIn</a></li>
					<% }else{ %>
						<li><a href="/logout">LogOut</a></li>
					<% }%>
					<li><a href="/sigin">Registro</a></li>
				</ul>
				<div class="clear"></div>
			</nav>
			<section id="content">
				<% if(errors.length){ %>
					<span id="ErrorMsgs">
						Corregir errores:<br/>
						<% for(var i in errors){ %>
								<span><%= errors[i].message %></span><br/>
						<% } %>
					</span><br/>
				<% } %>
				<%- body %>
				<div class="push"></div>
			</section>
		</div>
		<footer>
			<a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Que es un Quiz?</a>
			<a href="https://github.com/Zarpen/quiz-2015" target="_blank">Quiz en GitHub</a>
		</footer>
	</body>
</html> 
