<p><strong>Estadísticas:</strong></p><br/>
<p><strong>Número de preguntas:</strong> <%= statistics.questions %></p><hr/><br/>
<p><strong>Número de comentarios:</strong> <%= statistics.comments %></p><hr/><br/>
<p><strong>Media de comentarios por pregunta:</strong> <%= statistics.commentsQuestions %></p><hr/><br/>
<p><strong>Preguntas sin comentarios:</strong> <%= statistics.questionNoComments %></p><hr/><br/>
<p><strong>Preguntas con comentarios:</strong> <%= statistics.questionComments %></p>